@font-face {
  font-family: 'blackchancery'; /* Choose any name you want */
  src: url('./Assets/font/blackchancery.ttf') format('truetype'); /* Adjust the path and format as needed */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'roboto'; /* Choose any name you want */
  src: url(https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap);
}

*{
    margin: auto;
}

/* Styles pour votre site */
body {
        /*background-image: url(./Assets/images/cardd.jpg);*/
        /* background-repeat: no-repeat;
        background-size: cover; */
        background-color: #f1f1f1;
        margin: 0;
        padding: 0;
 /* Couleur noire pour le texte */
      
}

h1,h2,h3{
  font-family: 'blackchancery'!important;
  text-align: center;
  margin-bottom: 7rem;
  }

/* h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 3rem;
    color: #584229;
    text-align: center;
    margin-bottom: 3rem;
} */

h3{
  font-family: 'Roboto', sans-serif;
  font-weight: 3rem;
  color: #584229;
  text-align: center;
  margin-bottom: 3rem;
}
p{
  margin-top: 5rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 3rem;
}



/* Styles pour la barre de navigation */
.navbar {
    
    overflow: hidden;
    top:0
  }
  .logo{
    border-radius: 5px;
  }

  
  .navbar a {
    float: left;
    display: block;
    color: rgb(59, 35, 11);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Styles pour les cartes de tarot */
  .tarot-card {
    width: 200px;
    height: 300px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .tarot-card img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
  }

   /* Styles pour le formulaire */
   .form-container {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
  
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .form-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    color: #8d6d3a;

  }

input{
    color: #584229;
    width: 50%;

  }
  
  .form-container button {
    width: 40%;
     padding: 10px; 
    background-color: #584229;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 80px;
    display: flex;
    flex-direction: row;
  }
  
  .form-container button:hover {
    background-color: #8d6d3a;
  }

  /* Partie jeu */

  #jeu{
    width : 800px;
    height: 400px;
    background-color: grey;
    border-radius: 5px;
  }
  #jeuu{
    width : 600px;
    height: 400px;
    background-color: rgb(56, 37, 9);
    border-radius: 5px;
    margin: auto;
    margin-left: -30%;
  }
  .jeu{
    width : 800px;
    height: 400px;
    background-color: rgb(75, 56, 22);
    border-radius: 5px;
    margin-top: 50px;
    margin-left: 10%;
    padding: 10px;
  }
  #jeux{
    width : 1000px;
    height: 600px;
    background-color: grey;
  }

  .login {
    position: relative;
    margin: 100px auto;
    width: 370px;
    /* height: 315px; */
   background: rgba(255,255,255,0.05);
      backdrop-filter: blur(10px);
      border-top: 1px solid rgba(255,255,255,0.2);
      border-left: 1px solid rgba(255,255,255,0.2);
      box-shadow: 5px 5px 30px rgba(0,0,0,0.2);
    border-radius: 3px;
  
  }
  .container {
    float: none;
  }
  
  .button1 {
    margin-right: 10px;
    list-style: 3em;
  }
   
  .button1 {
    margin-right: 10px;
    list-style: 3em;
  }